<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

    :root {
      --light-gray: #F2F2F2;
      --diable-gray: #B3B3B3;
      --dark-solid: black;
      --light-solid: white;
      --font-small: 0.7em;
      --font-medium: 0.9em;
      --font-big: 1.2em;
    }

    * {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .wrapper {
      max-width: 80%;
      margin: auto;
    }

    .row {
      display: flex;
    }

    .row_logo {
      background-color: var(--dark-solid);
      text-align: center;
      padding: 6%;
    }

    .row_logo img {
      max-width: 45%;
      margin: auto;
    }

    .row_status {
      padding-top: 6%;
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .col_status_1,
    .col_status_2 {
      width: 50%;
    }

    .col_status_1 {
      justify-content: space-between;
    }

    .status_content {
      background-color: var(--light-gray);
      padding: 8%;
      font-size: var(--font-medium);
    }

    .status_content img {
      width: 4em;
    }

    .status_content table {
      width: 70%;
      text-align: center;
      color: var(--diable-gray);
    }

    .lh_0 {
      line-height: 0;
    }

    .vertical {
      border-left: 1px solid var(--diable-gray);
      height: 2em;
      display: block;
      position: relative;
      left: 50%;
    }

    .check {
      color: var(--dark-solid) !important;
    }

    .vertical .check {
      border-left: 1px solid var(--dark-solid) !important;
    }

    .col_status_1 .col {
      background-color: var(--light-gray);
      max-width: 70%;
      padding: 5%;
    }

    .row_order_text {
      color: var(--light-solid);
      background-color: var(--dark-solid);
      padding: 2%;
    }

    .row_order_text p {
      width: 100%;
      text-align: center;
      font-size: var(--font-medium);
    }

    .font_big {
      font-size: var(--font-big);
    }

    .font_medium {
      font-size: var(--font-medium);
    }

    .font_small {
      font-size: var(--font-small);
    }

    .font_bold {
      font-weight: 600;
    }

    .col_status_1 hr {
      margin: 5% 0;
      height: 1px;
      background-color: #ccc;
      border: none;
    }

    .ln_16 {
      line-height: 1.6;
    }

    .col_status_2 .button {
      width: 100%;
      display: block;
      text-align: center;
      background-color: var(--dark-solid);
      color: var(--light-solid);
      padding: 4%;
      border-radius: 50px;
      margin-top: 8%;
      cursor: pointer;
      text-decoration: none;
    }

    .products_col {
      background-color: var(--light-gray);
      padding: 6%;
    }

    .products_col .col_table .row {
      width: 100%;
      margin-bottom: 5%;
    }

    .products_col .row .col:last-child {
      justify-content: space-around;
    }

    .products_col .row .col:first-child {
      margin-right: 5%;
    }

    .products_col .row img {
      width: 8em;
    }

    .mt_6 {
      margin-top: 6%;
    }

    .products_col .ref {
      color: var(--diable-gray);
    }

    .products_col .price {
      color: var(--diable-gray);
    }

    .products_col .price span {
      color: var(--dark-solid);
      margin-left: 2%;
    }

    .right {
      text-align: right;
    }

    .products_col table {
      margin-top: 3%;
    }

    .col_other_text {
      font-size: var(--font-medium);
      margin-top: 5%;
    }

    .col_other_text .gray {
      color: #666666;
    }

    .col_other_text p {
      margin: 1% 0;
      line-height: 1.5;
    }

    .col_other_text table {
      border-collapse: collapse;
      line-height: 2;
    }

    .col_other_text table tr {
      border-bottom: solid var(--diable-gray) thin;
      border-top: solid var(--diable-gray) thin;
    }

    .col_other_text .ppd {
      text-align: justify;
    }

    .col_other_text .acept_ppd {
      text-align: center;
    }

    .col_other_text .button {
      text-align: center;
      background-color: var(--light-solid);
      color: var(--dark-solid);
      padding: 2%;
      border-radius: 50px;
      margin: auto;
      margin-top: 4%;
      border: solid 2px var(--dark-solid);
      width: 30%;
      cursor: pointer;
    }

    .col_other_text .img_block {
      text-align: center;
      width: 100%;
      margin-top: 10%;
    }

    .col_other_text .img_block img {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="row row_logo mt_6">
      <img src="https://www.nafnaf.com.co/arquivos/email_LogoHeader.png" alt="Logo Header Naf">
    </div>
    <div class="row row_status">
      <div class="col col_status_1">
        <div class="col">
          <p class="font_big font_bold">Hola {{clientProfileData.firstName}}</p>
          <p class="font_medium font_bold">¡Hemos recibido tu pedido!</p>
          <hr>
          <p class="ln_16">Número: {{orderId}}</p>
          <p class="ln_16">Fecha: {{formatDate creationDate}}</p>
        </div>
        <div class="col font_medium ln_16">
          {{#if giftRegistryData}}
            <p>{{giftRegistryData.description}}</p>
          {{else}}
            <p class="font_bold">Información</p>
            <p>{{shippingData.address.receiverName}}</p>
            <p>{{shippingData.address.street}} - {{shippingData.address.number}} -
              {{shippingData.address.neighborhood}}
            </p>
            <p>{{shippingData.address.city}} - {{shippingData.address.state}} -
              {{shippingData.address.postalCode}}
            </p>
            {{#unless split}}
              {{#each paymentData.transactions}}
                {{#each payments}}
                  <p>{{paymentSystemName}}: ${{formatCurrency value}}
                    {{#eq paymentSystemName 'Boleto Bancário'}}
                      <a href="{{replace url '{Installment}' installments}}">Imprimir boleto</a>
                    {{/eq}}
                  </p>
                {{/each}}
              {{/each}}
            {{/unless}}
            <p>Entrega {{#each orders}}{{shippingData.logisticsInfo.0.selectedSla}}{{/each}}</p>
          {{/if}}
        </div>
      </div>
      <div class="col col_status_2 font_medium">
        <div class="status_content">
          <table>
            <tr>
              <td class="lh_0 check font_bold"><img src="https://www.nafnaf.com.co/arquivos/email_check.png"
                  alt="Icon Naf">
              </td>
              <td class="lh_0 check font_bold">Pedido confirmado</td>
            </tr>
            <tr>
              <td class="lh_0">
                <span class="vertical check" />
              </td>
              <td class="lh_0"></td>
            </tr>
            <tr>
              <td class="lh_0 check font_bold"><img src="https://www.nafnaf.com.co/arquivos/email_check.png"
                  alt="Icon Naf"></td>
              <td class="lh_0 check font_bold">Pago confirmado</td>
            </tr>
            <tr>
              <td class="lh_0">
                <span class="vertical" />
              </td>
              <td class="lh_0"></td>
            </tr>
            <tr>
              <td class="lh_0 check font_bold"><img src="https://www.nafnaf.com.co/arquivos/email_check.png"
                  alt="Icon Naf"></td>
              <td class="lh_0 check font_bold">Pedido facturado</td>
            </tr>
            <tr>
              <td class="lh_0">
                <span class="vertical" />
              </td>
              <td class="lh_0"></td>
            </tr>
            <tr>
              <td class="lh_0"><img src="https://www.nafnaf.com.co/arquivos/email_enviado.png" alt="Icon Naf"></td>
              <td class="lh_0">Pedido enviado</td>
            </tr>
          </table>
          <a class="button" target="_blank" href="https://www.nafnaf.com.co/rastreo-pedidos?pedido={{orderId}}">Rastrear
            pedido</a>
        </div>
      </div>
    </div>
    <div class="row row_order_text mt_6">
      <p>Productos facturados, te notificaremos cuando tu pedido sea enviado.
        {{#eq sellers.0.name "nafnafcedi"}}
          Si alguno de tus productos son para recoger en tienda, se te enviará vía correo electrónico la notificación
          cuando se encuentre listo para recoger.
        {{/eq}}
      </p>
    </div>
    <div class="col products_col font_medium mt_6">
      <div class="col_table">
        {{#each items}}
          <div class="row">
            <div class="col"><img src="{{imageUrl}}" alt="Imagen del producto: {{name}}"></div>
            <div class="col">
              <div class="col">
                <p>{{name}}</p>
                <p class="ref">Ref: {{productRefId}}</p>
              </div>
              <div class="col">
                <p>Cantidad {{quantity}}</p>
                <p class="price font_bold">${{formatCurrency price}} <span>${{formatCurrency sellingPrice}}</span></p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <p class="font_medium font_bold">Resumen de la compra</p>
      <table>
        {{#each totals}}
          {{#if value}}
            <tr>
              <td>
                {{#eq id "Items"}}Subtotal{{/eq}}
                  {{#eq id "Discounts"}}Descuento{{/eq}}
                    {{#eq id "Shipping"}}Envío{{/eq}}
                      {{#eq id "Tax"}}Taza{{/eq}}
              </td>
              <td class="right">${{formatCurrency value}}</td>
            </tr>
          {{/if}}
        {{/each}}
        <tr class="font_bold">
          <td>Total</td>
          <td class="right">${{formatCurrency value}}</td>
        </tr>
      </table>
    </div>
    <div class="col col_other_text">
      <p>Suministrado por <span class="font_bold">NAF NAF</span></p>
      <p class="gray"><span class="font_bold">¿Tienes alguna duda?</span><br> Llámanos al 01 8000 187 009 (lunes a
        viernes de 8 am a 6pm y sábados de 9 am a 6 pm) o escríbenos a servicioalcliente@nafnaf.com.co</p>
      <p class="font_bold">Los datos que nos autorizaste al momento de realizar tu compra a través de la tienda
        online, y que actualizaremos a partir de la fecha son los siguientes:</p>
      <table>
        <tr>
          <td class="font_bold">Email:</td>
          <td>{{clientProfileData.email}}</td>
        </tr>
        <tr>
          <td class="font_bold">Nombre:</td>
          <td>{{clientProfileData.firstName}}</td>
        </tr>
        <tr>
          <td class="font_bold">Apellidos:</td>
          <td>{{clientProfileData.lastName}}</td>
        </tr>
        <tr>
          <td class="font_bold">Cédula:</td>
          <td>{{clientProfileData.document}}</td>
        </tr>
        <tr>
          <td class="font_bold">Celular:</td>
          <td>{{clientProfileData.phone}}</td>
        </tr>
        <tr>
          <td class="font_bold">Departemento:</td>
          <td>{{shippingData.address.state}}</td>
        </tr>
        <tr>
          <td class="font_bold">Ciudad:</td>
          <td>{{shippingData.address.city}}</td>
        </tr>
        <tr>
          <td class="font_bold">Dirección:</td>
          <td>{{shippingData.address.street}}</td>
        </tr>
      </table>
      <p>Aceptaste el tratamiento de datos personales en la fecha: {{formatDate timeZoneCreationDate}} <br>Si quieres
        hacer
        cambios en la información diligenciada, puedes actualizar tus datos por medio de un correo electrónico a
        datospersonalesrifle@nafnaf.com.co</p>

      <p class="ppd">
        Mediante el registro de mis datos personales autorizo a Mercadeo y Moda S.A.S., representante de la marca
        G-star para la recolección, almacenamiento y uso de los mismos con la finalidad de contactarme mediante
        aplicaciones de mensajería instantánea (Whatsapp o similares) y redes sociales para ofrecer servicios y
        campañas comerciales; ofertar servicios de valor agregado; participar en programas de beneficios y
        fidelización, consultar en centrales de información para fines comerciales y de servicios de crédito;
        consultar hábitos de consumo y aficiones para ofertas
      </p>
      <p class="acept_ppd font_bold">Entiendo y acepto el registro y uso mis datos personales, como se estipula
        anteriormente
      </p>
      <a class="button font_bold" target="_blank">
        Ver política de datos
      </a>
      <div class="img_block">
        <img src="https://www.nafnaf.com.co/arquivos/email_footer_2.jpg" alt="Image footer" usemap="#image-map">
        <map name="image-map">
          <area target="_blank" alt="Naf Naf Tienda Online" title="Naf Naf Tienda Online"
            href="https://www.nafnaf.com.co/" coords="151,67,471,139" shape="rect">
          <area target="_blank" alt="Instagram" title="Instagram" href="http://instagram.com/nafnafcol"
            coords="498,65,757,137" shape="rect">
          <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/nafnaflatam"
            coords="781,61,1062,137" shape="rect">
        </map>
      </div>
    </div>
  </div>
</body>

</html>